@import "tailwindcss";

:root {
 --background: #FAF9F4;   
--surface: #FFFFFF;       
--foreground: #1C2536;    
--orange: #C58B39

}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-fraunces)
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.cl-internal-b3fm6y {
  display: none !important;
}

.cl-badge {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}